html {
	height: 100%;
	min-height: 100%;
}

body{
	height: 100%;
	min-height: 100%;
}

.navbar-toggle {
	display:none;
}

.navbar {
	margin: 0px;
	border: 0;
	z-index: 4;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color:#E3E3E3; 
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-header a:hover,
.navbar-default .navbar-header a:focus, .navbar .navbar-brand {
	color:white;
}

.jumbotron {
	position:relative;
	background: #000 url(../img/jumbotron.jpg) no-repeat center center fixed;
	background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    overflow:hidden;
    display:table;
    z-index:1;
}

.jumbotron .container {
	text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.jumbotron .container .btn {
	text-shadow: none;
}