@font-face {
    font-family: 'keepCalm';
    src: url('../fonts/KeepCalm-Medium.ttf');
}
@font-face {
    font-family: 'cocomatLight';
    src: url('../fonts/Cocomat Light.ttf');
}
@font-face {
    font-family: 'cocomatUltralight';
    src: url('../fonts/Cocomat Ultralight.ttf');
}
@font-face {
    font-family: 'cocomatUltralight';
    src: url('../fonts/Cocomat Ultralight.ttf');
}
@font-face {
    font-family: 'liberationBold';
    src: url('../fonts/LiberationSans-Bold.ttf');
}
@font-face {
    font-family: 'liberationRegular';
    src: url('../fonts/LiberationSans-Regular.ttf');
}

html {
	height: 100%;
	min-height: 100%;
}

body{
	height: 100%;
	min-height: 100%;
}

.navbar-toggle {
	display:none;
}

.navbar {
	margin: 0px;
	border: 0;
	z-index: 4;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color:#5CADFF;
	font-family: "liberationBold", sans-serif;
	font-weight: 600;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-header a:hover,
.navbar-default .navbar-header a:focus, .navbar .navbar-brand {
	color:#3399FF;
	font-family: "liberationBold", sans-serif;
	font-weight: 600;
}

.jumbotron {
	position:relative;
	background: #000 url(../img/jumbotron.jpg) no-repeat center center fixed;
	background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
    overflow:hidden;
    display:table;
    z-index:1;
    margin:0;
}

.jumbotron p {
	font-family:"Open Sans", sans-serif;
	font-weight: 400;
}

.jumbotron .container {
	text-align: center;
    color: #3399FF;
    display: table-cell;
    vertical-align: middle;
}

.jumbotron .container .btn {
	text-shadow: none;
	font-family: "liberationRegular";
}

#backgroundimage {
	margin-bottom:20px;
}

#caption {
	font-size:30px;
	margin-bottom:30px;
    font-family: "cocomatLight";
}

#loginText {
	font-size: 15px ;
	color: #FF6600;
	font-weight:400;
}

.about {
	text-align: center;
	padding:70px 0;
	background-color:#EEEEEE;
}

.about h1 {
	font-family: "cocomatLight";
}

.about p {
	font-family: "liberationRegular", sans-serif;
	color:gray;
}

.solution {
	text-align: center;
	padding:50px 0;
	border-top: 1px solid #FFD699;
	border-bottom: 1px solid #FFD699;
}

.solution h2{
	font-family: "cocomatLight";
}

.solution p {
	font-family: "liberationRegular", sans-serif;
	color:gray;
}

.faq {
	padding:20px 0;
	background-color:#EEEEEE;
}

.faq h1 {
	font-family: "cocomatLight";
}

.faq p {
	font-family: "liberationRegular", sans-serif;
	color:gray;
}

.copyright{
	font-family: "liberationRegular", sans-serif;
	height:80px;
	color:lightgray;
	padding:20px;
	background-color:#2e2e2e;
}